<section id="hero">
  <div class="hero-container">
        <div class="carousel-item active">
          <div class="carousel-background"><img src="https://i.pinimg.com/originals/f6/06/8c/f6068ccdfbac90c1e87a291c47d5049b.jpg" alt="bck"></div>
          <div class="carousel-container">
            <div class="carousel-content">
              <h2 class="animate__animated animate__fadeInDown"> Bem-vindo!</h2>
              <p class="animate__animated animate__fadeInUp">Seja bem-vindo ao meu projeto de consumo de API de planetas💻</p>
              <a  class="btn-get-started animate__animated animate__fadeInUp scrollto" href="https://www.linkedin.com/in/henriquegarcia0401/" target="_blank">LinkedIn</a>
              <a  class="btn-get-started animate__animated animate__fadeInUp scrollto" href="https://github.com/henriquera1/api-planets-swagger" target="_blank">Link API</a>
              <a  class="btn-get-started animate__animated animate__fadeInUp scrollto" href="https://www.instagram.com/henriquera1/" target="_blank">Instagram</a>
            </div>
          </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
